/*
 * -------------------------------------------------
 *  nfcore custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for all custom environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

//Please use a new line per include Config section to allow easier linting/parsing. Thank you.
profiles {
  eddie        { includeConfig "${params.custom_config_base}/conf/eddie.config" }
}

// If user hostnames contain one of these substring and they are
// not running the associated profile, it will trigger a warning message
// Should be defined here for all profiles (not within profile config)
params {
  // This is a groovy map, not a nextflow parameter set
  hostnames = [
    binac: ['.binac.uni-tuebingen.de'],
    cbe: ['.cbe.vbc.ac.at'],
    cfc: ['.hpc.uni-tuebingen.de'],
    crick: ['.thecrick.org'],
    icr_davros: ['.davros.compute.estate'],
    imperial: ['.hpc.ic.ac.uk'],
    imperial_mb: ['.hpc.ic.ac.uk'],
    genotoul: ['.genologin1.toulouse.inra.fr', '.genologin2.toulouse.inra.fr'],
    genouest: ['.genouest.org'],
    uppmax: ['.uppmax.uu.se'],
    utd_ganymede: ['ganymede.utdallas.edu'],
    utd_sysbio: ['sysbio.utdallas.edu']
  ]
}
