/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/tamanmd -profile test,<docker/singularity>
 */

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  
  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 2
  max_memory = 6.GB
  max_time   = 6.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  // input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'
  input  = '/home/sguizard/Work/Dev/github/nf-core/test-datasets/test_files/chr25.bed'
  fasta = '/home/sguizard/Work/Dev/github/nf-core/test-datasets/test_files/chr25.fasta'
  database = '/home/sguizard/Work/Dev/github/nf-core/test-datasets/test_files/uniprot_sprot.fasta'
  evalue = '1e-10'
  n = 4


  // Genome references
  // genome = 'R64-1-1'

}
